body{
  background-color: #292828;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #FFFFFF;
}

.App{
  margin-top: 50px;
}






